* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    font-size: 20px;
    Color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction:column;
    
  }
section {
    display:flex;
    margin-bottom: 10px;
  }
#logo_connexion {
    margin-right: 70px;
    margin-left: 30px;
    margin-top: 100px;
    height:200px;
  }
form {
    float: right;
    border: 2px solid black;
    border-radius: 10px;
    border-style:double;
    border-radius: 10px;
    width: 400px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 50px 30px 50px;
    
}
form h1 {
  margin-left: 80px;
  margin-bottom: 10px;
}
hr {
  margin-left: 79px;
  margin-right:auto;
  width: 200px;
  border-style:dotted;
}
.inscrire {
  font-size: 15px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 10px;
  width: 240px;
  border: 2px solid #7d060648;
  border-style:double;
  border-radius: 7px;

}
  input[type="text"] {
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-style:double;
    border-radius: 7px;
}
input[type="radio"] {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 2px solid #ddd;
  border-style:double;
  border-radius: 7px;
  
}
label {
  margin-left: 55px;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.genre {
  margin-left: 5px;
  font-size: 15px;
}

  .valid_c {
    color: #de0404;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color:rgb(210, 213, 198);
    border-style: none;
    margin-left: 120px;
    margin-top: 10px;
    
  }
  
  /*FOOTER*/
footer {
  height: 300px;
  
}
#com {
  height: 250px;
  margin-top: 20px;
  background:#444; 
  margin-bottom: 0;
}
#com p {
  margin: 5px auto 5px 500px;
}

#com h4 {
  padding: 50px 0 10px 400px;
  margin-left: 50px;
}
#iconef {
 margin-right: 20px;
 margin-left: 10px;
 height: 40px;
}
#iconew {
  height: 40px;
}
